<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/plan.css' />
    <title>Kim Do Hyun</title>
  </head>
  <body>
    <header>
      <div class='logo'>Kim<br />Dohyun</div>
      <div class='nav'>
        <span id='info'>info</span>
        <span id='project'>project</span>
        <span id='plan'>plan</span>
      </div>
    </header>
    <main>
      <table id='timetable'>
        <thead>
          <tr>
            <th>시간</th>
            <th style='width: 170px'>월</th>
            <th style='width: 170px'>화</th>
            <th style='width: 170px'>수</th>
            <th style='width: 170px'>목</th>
            <th style='width: 170px'>금</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
      <div id='goals'></div>
    </main>
    <footer>
      <div>email: dohyun06@gm.gist.ac.kr</div>
      <div>github: https://github.com/dohyun06</div>
    </footer>
    <script src='/js/header.js'></script>
    <script src='/js/plan.js'></script>
  </body>
</html>