<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Kim Do Hyun</title>
  </head>
  <body>
    <header>
      <h3 id='logo'>Kim<br />Do Hyun</h3>
      <div id='header-list'>
        <div id='info'>info</div>
        <div id='project'>project</div>
        <div id='plan'>plan</div>
      </div>
    </header>
    <main></main>
    <footer>
      <div>email: dohyun06@gm.gist.ac.kr</div>
      <div>github: https://github.com/dohyun06</div>
    </footer>
    <script src='/js/header.js'></script>
    <script src='/js/project.js'></script>
  </body>
</html>