<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/project.css' />
    <title>Kim Do Hyun</title>
  </head>
  <body>
    <header>
      <div class='logo'>Kim<br />Dohyun</div>
      <div class='nav'>
        <span id='info'>info</span>
        <span id='project'>project</span>
        <span id='plan'>plan</span>
      </div>
    </header>
    <main></main>
    <footer>
      <div>email: dohyun06@gm.gist.ac.kr</div>
      <div>github: https://github.com/dohyun06</div>
    </footer>
    <script src='/js/header.js'></script>
    <script src='/js/project.js'></script>
  </body>
</html>